/* --------------------------- 
 * Global Reset
 * ---------------------------- */

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- */

@media (min-width: 768px) and (max-width: 1024px) {
  .lien-page-header {
    /* flex-direction: column-reverse; */
    padding-bottom: 10px;
  }
  .liste-domaines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .liste-domaines-list-1 {
    margin-right: 40px;
  }
  .photo-body {
    padding: 4em;
  }
}

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .lien-page-header {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
  }
  .liste-domaines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .liste-domaines-list-1 {
    margin-right: 40px;
  }
  .photo-body {
    padding: 4em;
  }
}

/* Téléphones portables */
@media (max-width: 360px) {
  .liste-domaines {
    font-size: 0.82em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-body {
    width: 85%;
    border-radius: 20%;
    padding: 4em;
  }
}

/* 
  * --------------------------- 
  * Main 
  * ----------------------------
*/

.intro {
  background: linear-gradient(90deg, #fff, #f32bf3);
}

.section-presentation {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.presentation {
  padding: 25px;
  max-width: 550px;
  height: 300px;
  line-height: 23px;
}

.presentation-span {
  color: #970097;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
}

.presentation-text-content {
  margin: 20px 0;
  text-align: justify;
  hyphens: auto;
}

.presentation-span,
.presentation-text-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.presentation.show .presentation-span,
.presentation.show .presentation-text-content {
  opacity: 1;
  transform: translateY(0);
}

.photo-body {
  width: 440px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.05);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.photo-body.show {
  opacity: 1;
  transform: scale(1);
  margin: 60px 0;
  object-fit: cover;
  object-position: right;
}

.liste-domaines {
  padding-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
  line-height: 20px;
}

.presentation.show .liste-domaines {
  opacity: 1;
  transform: translateY(0);
}

.liste-domaines span {
  display: block;
  font-size: 1.34em;
  font-weight: 600;
  margin: 20px 0;
}

.liste-domaines-conteneur {
  display: flex;
}

.liste-domaines-list-1,
.liste-domaines-list-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: italic;
  font-weight: 500;
}

.liste-domaines-list-1 {
  margin-right: 70px;
}
