*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------------ */
/* ----------Main---------- */
/* ------------------------ */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  box-shadow: -2px 2px 30px grey;
}

.formulaire label {
  padding: 10px;
}

.formulaire h2 {
  text-align: left;
}

.formulaire p {
  line-height: 50px;
}

.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.formulaire input {
  height: 40px;
  width: 400px;
  padding: 5px;
  border-radius: 20px;
}

.forgot-your-password {
  font-size: 12px;
  color: #808080;
  padding: 6px 0 0 10px;
}

.connectez-vous {
  color: black;
  font-size: 18px;
}

.btn button {
  font-size: 16px;
  background-color: lightblue;
  cursor: pointer;
  height: 40px;
  border-radius: 30px;
}