/* Applique la boîte de bordure à tous les éléments, ainsi qu'aux éléments ::before et ::after */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* ------------------------ */
/* ----------Header---------- */
/* ------------------------ */

/* Style pour le conteneur de navigation de la page d'inscription */
.lien-page-inscription {
  display: flex; /* Utilise Flexbox pour aligner les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  background-color: #ff00ae82; /* Définit une couleur de fond avec transparence */
}

/* Style pour l'image de la flèche de retour */
.back-arrow {
  cursor: pointer; /* Change le curseur en pointeur lors du survol */
}

/* Style pour le titre */
.title {
  color: #ffffff; /* Couleur du texte blanche */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Famille de polices */
  padding: 20px; /* Ajoute un espacement interne */
}

/* ------------------------ */
/* ----------Main---------- */
/* ------------------------ */

/* Style pour le lien mot de passe oublié */
.forgot-your-password {
  font-size: 12px; /* Taille de la police */
  color: #808080; /* Couleur du texte gris */
  padding: 6px 0 0 10px; /* Ajoute un espacement interne en haut et à gauche */
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

form {
  margin-top: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #6a0dad;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #4f0a68;
}

.star {
  color: red;
}