/* style sur les pages définitions et pratiques */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Body 
 * ---------------------------- 
*/

body {
  background-image: url(../images/);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- 
*/

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .lien-home {
    padding-left: 15px;
  }
  .presentation.show {
    padding: 20px 0;
  }
  .presentation-text-content {
    padding: 0 25px;
    font-size: 16px;
  }
  .photo {
    display: contents;
  }
  .photo .photo-body-3 {
    width: 90%;
    height: auto;
    margin-bottom: 2em;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .intro {
    width: 90%;
  }
  .presentation-text-content {
    font-size: 14px;
  }
  .photo {
    display: contents;
  }
  .photo .photo-body-3 {
    width: 70%;
    height: auto;
  }
}

/* Téléphones portables */
@media (min-width: 320px) and (max-width: 420px) {
  .presentation-text-content {
    font-size: 13px;
  }
  .photo .photo-body-3 {
    width: 75%;
  }
}
