/* style sur les pages définition et pratique de la voyance, cartomancie et ressenti photo */

*,
*::before,
*::after {
  box-sizing: border-box; /* Applique box-sizing à tous les éléments */
}

/* 
  * --------------------------- 
  * Main 
  * ----------------------------
*/

.intro {
  background: linear-gradient(90deg, #ffffff, #f32bf3);
}

.photo-body-1 {
  height: 450px; /* Hauteur de l'image */
  width: 600px; /* Largeur de l'image */
  padding: 50px 0; /* Ajoute du padding vertical */
}

.photo-body-2 {
  height: 400px; /* Hauteur de l'image */
  width: 500px; /* Largeur de l'image */
  padding: 50px 0; /* Ajoute du padding vertical */
}

.photo-body-3 {
  height: 400px;
  width: 500px;
}

.section-presentation {
  padding: 20px; /* Ajoute du padding */
  display: flex; /* Ajoute le flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 20px;
}

.section1-col1 {
  display: flex;
}

.presentation {
  padding: 25px; /* Ajoute du padding */
  width: 550px; /* Largeur de la section */
  line-height: 23px; /* Hauteur de ligne */
}

.presentation-text-content {
  margin: 20px 0; /* Marge verticale */
  font-size: 18px; /* Taille de police */
  text-align: justify; /* Justifie le texte */
}

.liste-pratique {
  display: flex; /* Ajoute le flexbox */
  flex-direction: column; /* Affiche les éléments en colonne */
  line-height: 20px; /* Hauteur de ligne */
}

.liste-pratique span {
  padding: 0 30px; /* Ajoute du padding horizontal */
  font-size: 21px; /* Taille de police */
  font-weight: 600; /* Poids de la police */
  margin: 20px 0; /* Marge verticale */
}

.liste-pratique-list {
  display: flex;
  flex-direction: column; /* Affiche les éléments en colonne */
  gap: 10px; /* Espace entre les éléments */
  font-size: 18px; /* Taille de police */
  padding: 10px 30px; /* Ajoute du padding */
  font-style: italic; /* Italique */
  font-weight: 500; /* Poids de la police */
}
