/* style sur les pages définitions et pratiques */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Body 
 * ---------------------------- 
*/

body {
  background-image: url(../images/oracle-ge.jpeg);
  background-size: contain;
  background-attachment: fixed;
  background-position: bottom;
}

@media (max-width: 480px) {
  .intro .photo {
    padding-top: 5em;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .intro .photo {
    padding-top: 6em;
  }
}

.photo {
  padding-top: 1em;
}

.photo-body-2 {
  margin: 40px 0;
}
