/* style sur les pages définitions et pratiques */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Body 
 * ---------------------------- 
*/

body {
  background-image: url(../images/clairvoyance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .intro .photo {
    width: 90%;
    margin: 2em 4em 0 0;
    padding: 0;
  }
  .photo-body-3 {
    margin-left: 6.3em;
  }
  .photo-pratique {
    padding-right: 4em;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .intro .photo {
    width: 90%;
    margin: 7em 0 0 2em;
  }
}

/* Téléphones portables */
@media (min-width: 320px) and (max-width: 360px) {
  .intro .photo {
    width: 90%;
    margin: 10em 1em 0 0;
  }
}

.photo {
  padding-right: 10em;
  padding-top: 8em;
}
