/* style sur les pages définitions et pratiques */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
  * --------------------------- 
  * Header 
  * ----------------------------
*/

.accueil button {
  cursor: pointer;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- 
*/

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .lien-home {
    padding-left: 15px;
  }
  .presentation.show {
    padding: 20px 0;
  }
  .presentation-text-content {
    padding: 0 25px;
    font-size: 16px;
  }
  .photo {
    display: contents;
  }
  .photo .photo-body {
    width: 90%;
    height: auto;
    margin-bottom: 2em;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .intro {
    width: 90%;
  }
  .presentation-text-content {
    font-size: 14px;
  }
  .photo {
    display: contents;
  }
  .photo .photo-body {
    width: 70%;
    height: auto;
  }
}

/* Téléphones portables */
@media (min-width: 320px) and (max-width: 420px) {
  .presentation-text-content {
    font-size: 13px;
  }
  .photo .photo-body {
    width: 75%;
  }
}

/* 
  * --------------------------- 
  * Main 
  * ----------------------------
*/

.intro {
  max-width: 675px;
  margin: 90px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-body {
  max-width: 420px;
  width: 100%;
  max-height: 290px;
  height: auto;
  margin-bottom: 40px;
  transform: scale(1.05);
  transition: opacity 3s ease-out, transform 3s ease-out;
  border-radius: 10px;
}

.section-presentation,
.section1-col1,
.section2-col2,
.section3-col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  padding: 25px;
  max-width: 550px;
  height: auto;
  margin-bottom: 1em;
  line-height: 23px;
}

.presentation-text-content,
.presentation-span {
  margin: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.presentation.show .presentation-text-content,
.presentation.show .presentation-span,
.photo-body-1.show,
.photo-body-2.show,
.photo-body-3.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
