*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- */
/* -----------Main----------- */
/* ---------------------------- */

.intro {
    background: linear-gradient(
      90deg,
      #ffffff,
      #f32bf3
    );
}

.photo-body {
    height: 450px;
    width: 600px;
    padding: 50px 0; /* Ajoute du padding vertical */
    max-width: 100%;
}

.section-presentation {
    padding: 20px; /* Ajoute du padding */
}

.section1-col1 {
    display: flex;
}

.presentation {
    padding: 25px;
    width: 550px;
    line-height: 23px;
}

.presentation-text-content {
    margin: 20px 0;
    font-size: 18px;
    text-align: justify;
}