/* style sur les pages horoscope-jour et horoscope-hebdomadaire */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique la règle box-sizing: border-box à tous les éléments, y compris ::before et ::after */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Body 
 * ---------------------------- 
*/

body {
  background-image: url(../images/horoscope-du-jour.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  height: 100vh;
  color: #333;
  margin: 0;
  padding: 0;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- 
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .lien-page-header {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .body-image h1 {
    font-size: 20px;
  }
  .horoscope h2 {
    margin: 30px 20px;
  }
}

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .lien-page-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .tarif-contact-avis {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    width: 100%;
  }
  .back-home {
    padding-left: 20px;
  }
  .lien-home {
    padding-bottom: 2em;
    padding-top: 3em;
  }
  .body-image h1 {
    font-size: 20px;
  }
  .horoscope h2 {
    margin: 30px 20px;
  }
  .lien-page-footer {
    justify-content: flex-start;
  }
  footer {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .tarif-contact-avis {
    align-items: flex-start;
    padding-left: 14px;
  }
  .back-home {
    margin-bottom: 10px;
    padding-left: 20px;
  }
}

/* 
  * --------------------------- 
  * Main 
  * ----------------------------
*/

.horoscope {
  margin: 30px 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000;
}

.horoscope h2 {
  margin: 0;
  color: #ff0000;
  text-transform: capitalize;
}

.categorie {
  font-weight: 600;
  color: #000;
}

.description-hebdo,
.description-jour {
  line-height: 1.3;
  letter-spacing: 0.5px;
}

/* --------------------------- 
 * Footer 
 * ---------------------------- 
*/

footer {
  height: 300px;
}
