*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------------ */
/* ----------Main---------- */
/* ------------------------ */

form {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}

.formulaire {
  display: flex;
  justify-content: center;
  padding: 300px;
}

.connectez-vous {
  color: #0000ff;
  font-size: 18px;
}

button {
  background: #add8e6;
  cursor: pointer;
}