/* style sur les pages inscription, connexion, contact, mot-de-passe-perdu et reset_password */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* 
 * Applique la propriété box-sizing: border-box à tous les éléments,
 * ainsi qu'à leurs pseudo-éléments ::before et ::after. 
 * Cela inclut le padding et la bordure dans les dimensions totales des éléments.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
  * --------------------------- 
  * Body 
  * ----------------------------
*/

body {
  flex-grow: 1; /* Permet au corps de prendre l'espace restant disponible */
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  background-image: url(../images/etoile-filante.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- 
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .lien-page-header {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .back-home {
    width: 85%;
    margin-top: 1px;
  }
  .title {
    font-size: 1.5em;
  }
  .container h2,
  .container-2 h2 {
    font-size: 1.3em;
  }
  textarea {
    max-width: 100%;
  }
}

/* Petites tablettes et grands téléphones */
@media (max-width: 768px) {
  .lien-page-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .back-home {
    height: 1.3em;
    padding-left: 20px;
  }
  .title {
    font-size: 1.3em;
  }
  .container,
  .container-2 {
    max-width: 90%;
  }
  .container h2,
  .container-2 h2 {
    font-size: 1.2em;
  }
  textarea {
    max-width: 100%;
  }
}

/* Téléphones portables */
@media (min-width: 320px) and (max-width: 360px) {
  .container,
  .container-2 {
    max-width: 90%;
  }
  p,
  a.forgot-your-password {
    font-size: 0.9em;
  }
  label {
    font-size: 0.9em;
  }
}

/* 
  * ------------------------ 
  * Header 
  * ------------------------ 
*/

.lien-page-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(15, 0, 146), rgb(176, 0, 176));
}

.title {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 20px;
}

/* 
  * ------------------------ 
  * Main 
  * ------------------------ 
*/

.container,
.container-2 {
  width: 350px;
  height: auto;
  margin: 70px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  padding-bottom: 20px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13.5px;
}

input[type="submit"] {
  background-color: #6a0dad;
  color: #fff;
  padding: 12px 14px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

textarea {
  max-width: 100%;
  padding-left: 4px;
  height: 80px; /* Ajustez en fonction de vos besoins */
  resize: none; /* Empêche le redimensionnement de la zone de texte */
}

select:hover {
  cursor: pointer;
}

button:hover {
  background-color: #4f0a68;
}

.star {
  color: red;
}

.inscription-google {
  display: flex;
  flex-direction: column;
  align-items: center;
}
