/* style sur la page pratique voyance */

/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------- 
 * Body 
 * ---------------------------- 
*/

body {
  background-image: url(../images/voyance.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}
