*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin: 0; */
  /* max-width: 1200px; */
}

/* --------------------------- */
/* -----------Header----------- */
/* ---------------------------- */

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: black;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff8ed7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.photo-header {
  background-size: contain;
  width: 100%;
}

.lien-page-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: #ff00ae82;
  width: 100%;
}

.contact-avis-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-avis-blog a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 4px;
}

.contact-avis-blog a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 14px 16px;
}

/* --------------------------- */
/* -----------Main----------- */
/* ---------------------------- */

h1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  border: none;
  height: 2px;
  background-color: black;
  width: 20%;
  margin: 30px auto;
}

/* --------------------------- */
/* -----------Footer----------- */
/* ---------------------------- */

footer {
  background: #a19c9c;
  width: 100%;
  height: 200px;
}

.lien-page-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
  gap: 25px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.lien-page-footer a {
  font-size: 12px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.lien-page-footer a:hover {
  text-decoration: underline;
}

.logo-footer {
  display: flex;
  justify-content: right;
  align-items: center;
}

.instagram-logo {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}