/* --------------------------- 
 * Global Reset
 * ---------------------------- 
*/

/* Applique box-sizing à tous les éléments et leurs pseudo-éléments */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------------------- 
 * Body & HTML 
 * ---------------------------- 
*/

body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: block;
  min-height: auto;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* --------------------------- 
 * Header 
 * ---------------------------- 
*/

header {
  text-align: center;
  line-height: 0.5;
}

nav {
  width: 100%;
  height: auto;
}

.hamburger {
  font-size: 2em;
  display: none;
  position: absolute;
  top: 105px;
  right: 30px;
  z-index: 1;
}

.lien-page-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgb(15, 0, 146), rgb(176, 0, 176));
  width: 100%;
  padding: 10px 0;
}

.lien-home,
.icone-connect,
.icone-deconnect {
  cursor: pointer;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  color: #000;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, rgb(15, 0, 146), rgb(176, 0, 176));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.parallax,
.navbar a,
.dropdown:hover .dropdown-content,
.dropdown-content a,
.logo-footer img {
  display: block;
}

.tarif-contact-avis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarif-contact-avis a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
}

.tarif-contact-avis a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 14px 16px;
}

.icone-connect,
.icone-deconnect {
  height: 26px;
  padding-top: 7px;
  margin-right: 10px;
  max-width: 100%;
}

.lien-contact {
  display: flex;
  gap: 10px;
}

/* --------------------------- 
 * Main 
 * ---------------------------- 
*/

h1 {
  color: #6a0dad;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  border: none;
  height: 2px;
  background-color: black;
  width: 20%;
  margin: 20px auto;
}

.costum-word {
  font-weight: 700;
}

/* --------------------------- 
 * Footer 
 * ---------------------------- 
*/

footer {
  background: linear-gradient(90deg, rgb(15, 0, 146), rgb(176, 0, 176));
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  min-height: 340px;
}

.nav-links-1,
.nav-links-2,
.copyright-info {
  max-width: 100%;
  padding: 10px 20px;
}

.nav-links-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  flex-wrap: wrap;
}

.nav-links-2 {
  display: flex;
  justify-content: center;
  gap: 8em;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.social-link,
.lien-connect,
.lien-deconnect,
.lien-home {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.insta-paypal-mail,
.connect,
.deconnect,
.home {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.social-link:hover .insta-paypal-mail,
.lien-connect:hover .connect,
.lien-deconnect:hover .deconnect,
.lien-home:hover .home {
  visibility: visible;
  opacity: 1;
}

.lien-page-footer a {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

ul li a,
a:hover,
.nav-links-2:hover {
  text-decoration: none;
}

.logo-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-footer img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.copyright-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.copyright-info a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

/* --------------------------- 
 * Responsive Design 
 * ---------------------------- 
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .lien-page-header {
    flex-direction: column-reverse;
    padding: 20px 0;
    margin: 0;
  }
  .lien-contact {
    flex-direction: column-reverse;
  }
  footer .nav-links-2 {
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
    padding: 0;
  }
}

/* Petites tablettes et grands téléphones */
@media (max-width: 767px) {
  .lien-page-header .dropdown,
  .lien-page-header .tarif-contact-avis,
  .lien-page-header .lien-connect,
  .lien-page-header .lien-deconnect {
    display: none;
  }
  header .hamburger {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    top: 16px;
  }
  .lien-page-header.active .dropdown,
  .lien-page-header.active .lien-connect,
  .lien-page-header.active .lien-deconnect {
    display: block;
    text-align: center;
  }
  .lien-page-header.active .tarif-contact-avis {
    display: flex;
  }
  .lien-page-header {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0.8em;
  }
  .dropdown-content {
    padding-left: 2em;
    margin: -3.5em 11em;
  }
  .lien-contact {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .tarif-contact-avis {
    flex-direction: column;
    align-items: end;
    padding-right: 35px;
    width: 100%;
  }
  .back-home {
    height: 1.3em;
  }
  .icone-connect,
  .icone-deconnect {
    padding-left: 15px;
    margin: 0;
  }
  .intro {
    width: 95%;
    margin: 2em auto;
  }
  .intro .separator {
    width: 24%;
  }
  .intro h1 {
    font-size: 1.5em;
  }
  .intro h2 {
    font-size: 1.2em;
  }
  footer .nav-links-2 {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 10px;
  }
  footer .copyright-info a {
    font-size: 0.875rem;
    margin-top: 5px;
  }
  footer {
    font-size: 0.875rem;
    text-align: center;
    padding: 15px;
  }
  .copyright-info {
    font-size: 0.75rem;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  header .lien-page-header,
  .tarif-contact-avis {
    flex-direction: column;
    align-items: flex-start;
  }
  .lien-contact {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .tarif-contact-avis {
    padding-left: 10px;
  }
  .dropdown-content {
    margin: -4em 9em;
  }
  .lien-connect {
    padding-right: 50px;
  }
  .icone-connect,
  .icone-deconnect {
    height: 25px;
    padding-right: 35px;
  }
  header .dropdown .dropbtn,
  header .dropdown-content,
  header .tarif-contact-avis a {
    font-size: 0.8em;
  }
  .intro h1 {
    font-size: 1.1em;
  }
  .intro h2,
  .intro span {
    font-size: 1em;
  }
  .intro p,
  .intro .presentation-span,
  .intro .liste-domaines-conteneur {
    font-size: 1em;
  }
  .intro .photo {
    padding-top: 5em;
  }
}

/* Téléphones portables */
@media (min-width: 320px) and (max-width: 360px) {
  header .hamburger {
    font-size: 1.5em;
  }
  body .intro {
    width: 90%;
    margin-top: 3em;
  }
  .intro h1 {
    font-size: 1em;
  }
  .intro h2 {
    font-size: 0.9em;
  }
  .intro p,
  .intro .presentation-span,
  .intro .liste-domaines-conteneur {
    font-size: 0.9em;
  }
  .intro .separator {
    width: 40%;
  }
  section .section-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .presentation {
    padding: 25px;
  }
  section .liste-domaines-conteneur {
    margin: 0 -1em;
  }
  .liste-domaines,
  .intro .presentation-span,
  .presentation-text-content {
    font-size: 0.8em;
  }
  .intro .liste-domaines span {
    font-size: 1.1em;
  }
  footer {
    width: 100%;
    font-size: 14px;
  }
  .copyright-info {
    font-size: 0.7rem;
  }
  footer .copyright-info a {
    font-size: 1em;
  }
}
